@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

html {
  /* Prevent text from growing in landscape on iOS. */
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

#page {
  display: grid;
  place-items: center;
  min-height: 100%;
  padding: 64px 32px;
  background-image:
    linear-gradient(
      to bottom right,
      hsl(100, 75%, 97%),
      hsl(200, 75%, 95%));
}

@media screen and (max-width: 425px) {
  #page {
    align-items: start;
    padding: 0;
    padding-bottom: 64px;
  }
}
